# CMake
CMakeFiles
CMakeCache.txt
Makefile
build

# Precompiled Headers
*.gch
*.pch

# Visual Studio / Code
.vs
.vscode
*.code-workspace

# IntelliJ
.idea
*.iml

# Local History for Visual Studio Code
.history/

# GNU Global tags, used by some VSCode/Codium plugins
GPATH
GRTAGS
GTAGS

# Common editor temp/backup files
*~
*.swp
*.tmp
*.orig
*.rej

# macOS directory prefs
.DS_Store

# clangd language server
.clangd
.cache
compile_commands.json

*.wav

